.founder-section {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 9.375rem;
  gap: 4rem;
}

.founder-content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
}

.founder-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #12141d;
}

.founder-text h1 {
  font-size: 3.75rem;
  font-weight: bold;
  line-height: 4.5rem;
}

.founder-text p {
  font-size: 1.5rem;
}

.founder-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.founder-info h2 {
  font-size: 1.25rem;
  font-weight: bold;
}

.founder-info h3 {
  font-size: 1rem;
  color: #404040;
}

.founder-img {
  width: 50%;
}

@media (max-width: 1024px) {
  .founder-section {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    padding-left: 4.375rem;
    padding-right: 4.375rem;
    padding-top: 0;
    padding-bottom: 2rem;
  }

  .founder-content {
    align-items: center;
    gap: 1.5rem;
  }
  .founder-text {
    gap: 1rem;
  }
  .founder-text h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .founder-img {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .founder-section {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0;
    padding-bottom: 2rem;
  }

  .founder-text h1 {
    font-size: 1.8rem;
    line-height: 2rem;
  }
  .founder-text p {
    font-size: 1rem;
  }

  .founder-img {
    width: 100%;
  }
}

@media (max-width: 1280px) and (min-width: 1024px) {
  .founder-text p {
    font-size: 1rem;
  }
  .founder-text h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .founder-text {
    gap: 1rem;
  }
  .founder-content {
    gap: 1.8rem;
  }
}

/* Ads Banner */
.ads-banner {
  background-color: #12141d;
  color: #fff;
  display: flex;
  align-items: center;
}

.ads-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: start;
  padding: 50px 150px;
  padding-right: 0;
}

.ads-content h1 {
  font-size: 3.75rem;
  font-weight: bold;
  line-height: 4.5rem;
}

.ads-btn {
  gap: 12px;
  background-color: #f0b73f;
  padding: 16px 24px;
}

.no-credit-text {
  font-size: 1.25rem;
  padding-top: 1.5rem;
}

.ads-image {
  max-width: 50%;
  height: auto;
}

@media (max-width: 1024px) {
  .ads-banner {
    flex-direction: column;
  }
  .ads-content {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding: 2rem 4.375rem;
    padding-right: 0;
  }
  .ads-content {
    align-items: center;
    gap: 1.5rem;
  }
  .ads-content h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .ads-image {
    max-width: 80%;
  }
}

@media (max-width: 768px) {
  .ads-content {
    padding: 2rem 1.25rem;
  }
  .ads-content h1 {
    font-size: 1.8rem;
    line-height: 2rem;
  }
  .no-credit-text {
    font-size: 1rem;
  }

  .ads-image {
    max-width: 100%;
  }
}

@media (max-width: 1280px) and (min-width: 1024px) {
  .ads-content {
    padding: 2rem 4.375rem;
    padding-right: 0;
  }
  .no-credit-text {
    font-size: 1rem;
  }
  .ads-content h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .founder-content {
    gap: 1.8rem;
  }
}
