.trusted-section {
  background-color: #f2f5f6;
  font-size: 1.5rem;
  color: #12141d;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6.25rem 9.375rem;
  gap: 4.8rem;
  position: relative;
}

.trusted-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.trusted-header h1 {
  font-size: 3.75rem;
  line-height: 4.5rem;
}

.trusted-header a {
  font-size: 1.125rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  text-decoration: none;
  color: #12141d;
}

.trusted-card {
  background-color: #fff;
  padding: 1.5rem;
  gap: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: start;
}

.trusted-card p {
  font-size: 1.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.trusted-profile {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.trusted-profile img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.trusted-profile-info {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-size: 1rem;
  justify-content: start;
  align-items: start;
}

.trusted-profile-info h1 {
  font-weight: bold;
  color: #000;
  font-size: 1rem;
}

.trusted-profile-info h2 {
  color: #404040;
  font-size: 1rem;
}

.swiper {
  width: 100%;
  padding-bottom: 10px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-pagination {
  position: relative;
  margin-top: 3rem;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #043a53;
  width: 80px;
  height: 12px;
  border-radius: 10px;
}
.swiper-pagination-bullet {
  background-color: #d7e0e5;
  width: 20px;
  height: 12px;
  border-radius: 10px;
}

.blog-section {
  background-color: #fff;
  color: #12141d;
  width: 100%;
  padding: 6.25rem 9.375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
  position: relative;
}

/* Blog Header */
.blog-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.blog-header .blog-title {
  font-size: 3.75rem;
  line-height: 4.5rem;
}

.blog-header a {
  font-size: 1.125rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  text-decoration: none;
  color: #12141d;
}

.blog-card {
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  max-width: 400px;
}

.blog-card:hover {
  transform: translateY(-5px);
}

.blog-image img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.blog-content {
  padding: 1.5rem;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.blog-meta {
  font-size: 1rem;
  color: #404040;
}

.blog-meta .blog-date {
  font-weight: bold;
  color: #000;
}

.blog-title {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2.25rem;
}

.blog-text {
  font-size: 1.125rem;
  color: #404040;
}

.blog-link {
  font-size: 1.125rem;
  font-weight: bold;
  color: #12141d;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .trusted-section,
  .blog-section {
    padding: 4rem 4.375rem;
    gap: 3rem;
  }
  .trusted-header h1,
  .blog-header .blog-title {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .trusted-card p,
  .blog-text {
    font-size: 1.25rem;
  }
  .blog-content{
    gap: 0.5rem;
  }
}

@media (max-width: 1280px) and (min-width: 1024px) {
  .trusted-header h1,
  .blog-header .blog-title {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .trusted-card p,
  .blog-text {
    font-size: 1.25rem;
  }
  .trusted-section,
  .blog-section {
    padding: 4rem 4.375rem;
    gap: 3rem;
  }
}
@media (max-width: 768px) {
  .trusted-section,
  .blog-section {
    padding: 3rem 1.25rem;
    padding-bottom: 5rem;
    gap: 2rem;
  }
  .trusted-header,
  .blog-header {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  .trusted-header a,
  .blog-header a {
    position: absolute;
    font-size: 1rem;
    bottom: 2rem;
  }

  .blog-card {
    max-width: 100%;
  }
  .swiper {
    width: 100%;
    padding-top: 3.5rem !important;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
  }

  .swiper-pagination {
    position: absolute !important;
    margin-top: 0;
    top: 0 !important;
  }
}
